@media screen and (max-width: 768px){

    .div_car{
    height: 50vh;
    position: relative;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;


    }
    .div_car img{
        position: absolute;
        bottom: 20%;
        left: 25%;
        width: 30%;
        animation: car_drive 4s 0.5s ease infinite alternate;
        animation-duration: 6s
    }
    @keyframes car_drive{
        0%{
            left: 25%;
        }
        100%{
            left: 50%;
        }
    }
    .slide_bar{
        padding: 10px;
        margin: 50px 25px;
    }
    .slide_header h1{
        font-size: 20px;

    }
    .slide_header p{
        font-size: 12px;

    }
    .slide_images{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin: 30px;
        position: relative;
        overflow: hidden;
        /* animation: toLeft 1s infinite alternate; */
    }
    .left{
        position: absolute;
        font-size: 10px;
        left:40px;
        top: calc(50%-40px);
        color: gainsboro;
        display: none;
    }
    .right{
        position: absolute;
        color: gainsboro;
        font-size: 10px;
        right:40px;
        top: calc(50%-40px);
        display: none;
    }
    .slide_img{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 80%;
        box-shadow: 1px 1px 2px 2px whitesmoke;
        overflow: hidden;
    }
    .slide_img:hover .img_1{
        transform:scale(1.05);
    }
    .about{
        padding: 5px;
    }
    .about_head{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        text-align: center;
    }
    .about_head a{
        color:var(--color_dark_purple);
        font-family: var(--font_family1);
        cursor: pointer;
        font-size: 20px;
    }
    .about_head h2{
        color:var(--color_light_purple);
        font-family: var(--font_family1);
        cursor: pointer;
        font-size:18px;
    }
    .about_foot{
        display: flex;
        width: 100%;
        align-items:center;
        justify-content:flex-start;


    }
    .about_foot a{
        color:var(--color_light_purple);
        font-family: var(--font_family1);
        font-size: 14px;
        background-color: rgb(246, 246, 255);
        border-radius: 25px;
    }
    .about_foot p{
        color:var(--color_dark_purple);
        font-family: var(--font_family1);

        font-size: 12px;
    }
}
@media screen and (max-width: 425px){

    .div_car{
    height: 30vh;
    position: relative;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;


    }
    .div_car img{
        position: absolute;
        bottom: 20%;
        left: 20%;
        width: 30%;
        animation: car_drive 4s 0.5s ease infinite alternate;
        animation-duration: 6s
    }
    @keyframes car_drive{
        0%{
            left: 20%;
        }
        100%{
            left: 40%;
        }
    }
    .slide_bar{
        padding: 10px;
        margin: 50px 25px;
    }
    .slide_header h1{
        font-size: 20px;

    }
    .slide_header p{
        font-size: 12px;

    }
    .slide_images{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        gap: 10px;
        margin: 30px;
        position: relative;
        overflow: hidden;
        animation: toLeft 1s infinite alternate;
    }
    .left{
        display: none;
        position: absolute;
        font-size: 10px;
        left:40px;
        top: calc(50%-40px);
        color: gainsboro;
    }
    .right{
        display: none;
        position: absolute;
        color: gainsboro;
        font-size: 10px;
        right:40px;
        top: calc(50%-40px);
    }

    .slide_img{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 70%;
        box-shadow: 1px 1px 2px 2px whitesmoke;
        overflow: hidden;
    }
    .slide_img:hover .img_1{
        transform:scale(1.05);
    }
    .about_head{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        text-align: center;
    }
    .about_head a{
        color:var(--color_dark_purple);
        font-family: var(--font_family1);
        cursor: pointer;
        font-size: 12px;
    }
    .about_head h2{
        color:var(--color_light_purple);
        font-family: var(--font_family1);
        cursor: pointer;
        font-size:10px;
    }
    .about_foot{
        display: flex;
        width: 100%;
        align-items:center;
        justify-content:flex-start;


    }
    .about_foot a{
        color:var(--color_light_purple);
        font-family: var(--font_family1);
        font-size: 8px;
        background-color: rgb(246, 246, 255);
        border-radius: 25px;
    }
    .about_foot p{
        color:var(--color_dark_purple);
        font-family: var(--font_family1);

        font-size: 8px;
    }
}